.header {
    padding: 1em 0em;
    text-align: center;
    background-color: #eee;
}

.header__title {
    font-size: 150%;
    margin-bottom: 0.5em;
}

.header__menu__item {
    display: inline-block;
    margin: 0em 0.5em;
}

.header__menu__btn {
    color: inherit;
    &:hover {
        color: #f00;
    }
    &.is-active {
        text-decoration: none;
        color: #f00;
        font-weight: bold;
    }
}