extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

// append StylesheetBlock

// append JavascriptBlock

block ContentBlock
  ul.news-list.js-news-root
  
  script(type="text/lodash")#template-news
    li.news-list__item
      a.news-list__btn(href!='http://www.kayac.com<%- url %>', target="_blank")!= '<%- name %>'
